<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        http://www.springframework.org/schema/context-->
<!--       https://www.springframework.org/schema/context/spring-context.xsd-->
<!--        http://www.springframework.org/schema/aop-->
<!--       https://www.springframework.org/schema/aop/spring-aop.xsd">-->

<!--    1 处理器映射器-->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <!-- 2 处理器适配器-->
     <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
<!--    3 视图解析器- : 模板引擎,Thymelerf, freemarker -->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--4 注册controller-->
<bean name="/hello2" class="com.yang.controller.HelloController"/>

</beans>
